@page
@model HangmanModel
@{
    ViewData["Title"] = "Game Page";
}

<div class="text-center">
    <h3 class="display-4">Welcome to our Hangman Game!</h3>
    <br />
    <form method="post">
        <input id="connectionUrl" />
        <label for="guess">What is your guess? </label>
        <input id="guess" name="guess" maxlength=1/>
        <Button id="guessBtn" type="submit">Guess</Button>
        <textarea id="previousguesses" name="previousguesses" rows="18" cols="18">
        </textarea>
    </form>
    <br />
    <textarea id="commsLog"></textarea>
</div>

<script>
    var connectionUrl = document.getElementById("connectionUrl");
    var guessLetter = document.getElementById("guessLetter");
    var sendButton = document.getElementById("sendButton");
    var commsLog = document.getElementById("commsLog");
    var socket

    var scheme = document.location.protocol === "https:" ? "wss" : "ws";
    var port = document.location.port ? (":" + document.location.port) : "";

    connectionUrl.value = scheme + "://" + document.location.hostname + port + "/ws";

    socket = new WebSocket(connectionUrl.value);

    guessBtn.onclick = function () {
        if (!socket || socket.readyState !== WebSocket.OPEN) {
            alert("socket not connected");
        }
        var data = guess.value;
        socket.send(data);
    };

    socket.onmessage = function (event) {
        commsLog.innerHTML += event.data;
    };
</script>